<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .header{
            color: aquamarine;
            text-align: center  ;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Compañia de Luz</h1>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSC3o3ocsk3leCGFhx83LDuDgY2_h48ks8rVXz8Mp-gBETle2p1" alt="Foto  de la compañía de luz">
    </header>
</body>

</html>