<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <a href="#">Acerca de</a>
            <a href="/pago">Pago recibo</a>
            <a href="">Contactos</a>
        </ul>
    </nav>
</body>
</html>