<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Pre examen
    </title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html {
            width: 100%;
        }

        header {
            background-color: aquamarine;
            text-align: center;
            width: 100%;
            padding: 30px;
        }

        h1 {
            margin-bottom: 20px;
        }

        nav {
            background-color: black;
            padding: 15px;
        }

        ul {
            display: flex;
            justify-content: space-around;
        }

        main {
            background-color: #F0E78C;
            padding: 15px;
        }

        a {
            text-decoration: none;
            color: white;
        }
        
        footer {
            background-color: #DC7092;
            text-align: center;
            font-weight: 700;
            padding: 25px;
        }

        footer span {
            margin-top: 15px;
        }

        form {
            width: min(800px, 90%);
            margin: 0 auto;
            border-radius: 8px;
            border: 2px solid #000;
            padding: 20px ; 
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        .campo {
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        input {
            padding: 8px;
            border-radius: 2px;
            border: none;
            width: 200px;
        }

        select {
            padding: 8px;
            width: 200px;
        }

        label {
            text-align: left;
        }

        button {
            padding: 8px;
            width: 200px;
        }
    </style>
</head>

<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <main>
       <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero necessitatibus commodi velit corporis nemo veniam totam veritatis, molestias praesentium, natus maiores ratione ad nesciunt, tempora corrupti ea. Vitae, molestiae animi?</p>
       </div>
        
    </main>
    <%-include('partials/footer.ejs')%>
</body>

</html>
