<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Pre examen
    </title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html {
            width: 100%;
        }

        header {
            background-color: aquamarine;
            text-align: center;
            width: 100%;
            padding: 30px;
        }

        h1 {
            margin-bottom: 20px;
        }

        nav {
            background-color: black;
            padding: 15px;
        }

        ul {
            display: flex;
            justify-content: space-around;
        }

        main {
            background-color: #F0E78C;
            padding: 15px;
        }

        a {
            text-decoration: none;
            color: white;
        }
        
        footer {
            background-color: #DC7092;
            text-align: center;
            font-weight: 700;
            padding: 25px;
        }

        footer span {
            margin-top: 15px;
        }

        form {
            width: min(800px, 90%);
            margin: 0 auto;
            border-radius: 8px;
            border: 2px solid #000;
            padding: 20px ; 
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        .campo {
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        input {
            padding: 8px;
            border-radius: 2px;
            border: none;
            width: 200px;
        }

        select {
            padding: 8px;
            width: 200px;
        }

        label {
            text-align: left;
        }

        button {
            padding: 8px;
            width: 200px;
        }
    </style>
</head>

<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <main>
        <% if(params.data === false){ %>
            <form action="/pago" method="post">
                <div class="campo">
                    <label for="numero">Numero Recibo</label>
                    <input type="number" id="numero" name="numero">
                </div>
                <div class="campo">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre">
                </div>
                <div class="campo">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" id="domicilio" name="domicilio">
                </div>
                <div class="campo">
                    <label for="tipo">Tipo de Servicios</label>
                    <select name="tipo" id="tipo">
                        <option value="Domestico">Domestico</option>
                        <option value="Comercial">Comercial</option>
                        <option value="Industrial">Industrial</option>
                    </select>
                </div>
                <div class="campo">
                    <label for="kw">Kilowatts Consumidos</label>
                    <input type="number" id="kw" name="kw">
                </div>
            
               <div class="campo">
                <button type="submit">Enviar Información</button>
                <button type="reset">Limpiar</button>
               </div>
            </form>
        <%} else{ %>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de servicio</th>
                    <th scope="col">Kiowatts Consumidos</th>
                    <th scope="col">Costo por Kiowatts</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= params.numero %></td>
                    <td><%= params.nombre %></td>
                    <td><%= params.tipo %></td>
                    <td><%= params.kwatts %></td>
                    <td><%= params.costoKwatts %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Subtotal:</td>
                    <td><%= params.subTotal %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Impuesto:</td>
                    <td><%= params.impuesto %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Descuento:</td>
                    <td><%= params.descuento %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total a pagar:</td>
                    <td><%= params.total %></td>
                  </tr>
                </tbody>
              </table>
              <% } %>
        
    </main>
    <%-include('partials/footer.ejs')%>
</body>

</html>
